<!DOCTYPE html>

<html>
<head>
	<title>Logical Graphs</title>
	<link rel="stylesheet" type="text/css" href="../style/graphs.css">
</head>
<body>
	<nav>
		<p><a href="../index.html">Propositional Logic</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="#">Introduction</a>
				<ul>
					<li><a href="logic.html">What is Propositional Logic?</a></li>
					<li><a href="operations.html">Logical Operations</a></li>
					<li><a href="forms.html">Propositional Forms</a></li>
					<li><a href="tables.html">Truth Tables</a></li>
					<li><a href="equivalence.html">Propositional Equivalence</a></li>
					<li><a href="circuit.html">Logic Circuits</a></li>
					<li><a href="graph.html">Logical Graphs</a></li>
				</ul>
			</li>
			<li><a href="#">Other</a>
				<ul>
					<li><a href="practice.html">Practice Problems</a></li>
					<li><a href="references.html">References</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<h1>Logical Graphs</h1>
	<p class="body">A <b>logical graph</b> is a type of diagram that displays relationships between or among variables through graphical syntax. </p>
	<p class="body">Some situations that can be visualized with logical graphs include: </p> <br>
	<p class="body1"> - Communications on Social Networks, such as Facebook</p>
	<p class="body1"> - Connected Cities in a Nation</p>
	<p class="body1"> - Tasks on a "To-Do" List</p>
	<p class="body1"> - Electrical Connections and Wirings</p>
	<p class="body1"> - The Internet</p> <br>
	<center><img src="../images/logicalgraphexample.png" alt="Example of an Undirected Logical Graph"></center> <br>
	<p class="body1">The set "V" represents the set of vertices, while "E" represents the set of edges.</p>
	<p class="body1">{v, w} ∈ E means that v, w and the set of vertices are connected.</p> <br>
	<p class="body">A logical graph can be considered <b>directed</b>, or a <b>digraph</b>, if the edge from one vertex to another can ONLY be traversed in that direction. Otherwise, these graphs are <b>undirected</b>.</p>
	<p class="body">For directed graphs, the edge connecting v, w ∈ V is (v,w).</p>
	<p class="body">For undirected graphs, the edge connecting the <b>distinct</b> and <b>specific</b> v, w ∈ V is {v,w}.</p> <br>
	<center><img src="../images/directedgraph.png" alt="Example of a Directed Logical Graph"></center> <br>
	<p class="body1">The graph above is directed while one before is undirected.</p> <br>
	<p class="body">Logical graphs can also be <b>complete</b>, meaning all possible edges are present.</p> <br>
	<center><img src="../images/completegraph.png" alt="Example of a Complete Logical Graph"></center> <br>
	<p class="body1">Notice that all edges are present in the graph.</p> <br>
	<center><img src="../images/incompletegraph.png" alt="Example of an Incomplete Logical Graph"></center> <br>
	<p class="body1">Many of the edges are absent in the image above, making it incomplete.</p> <br>

</body>
</html>