<!DOCTYPE html>
<html>
<head>
	<title>What is Propositional Logic?</title>
	<link rel="stylesheet" type="text/css" href="../style/logic.css">
</head>
<body>
	<nav>
		<p><a href="../index.html">Propositional Logic</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="#">Introduction</a>
				<ul>
					<li><a href="logic.html">What is Propositional Logic?</a></li>
					<li><a href="operations.html">Logical Operations</a></li>
					<li><a href="forms.html">Propositional Forms</a></li>
					<li><a href="tables.html">Truth Tables</a></li>
					<li><a href="equivalence.html">Propositional Equivalence</a></li>
					<li><a href="circuit.html">Logic Circuits</a></li>
				</ul>
			</li>
			<li><a href="#">Other</a>
				<ul>
					<li><a href="practice.html">Practice Problems</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<h1>What is Propositional Logic?</h1>
	<p class="body">A <b>proposition</b> is a statement that is either true or false, but not both simultaneously.<br>Examples of propositional statements:</p>
	<p class="body1">"Molly has posted her holiday photos on flickr." - This will be either be true or false depending on what Molly did.</p>
	<p class="body1">"Fred will always accept a Facebook friend request from a friend of a friend." - This will be either true or false, depending on Fred's policy in this matter.</p>
	<p class="body1">"All even numbers are integers." - This is true.</p>
	<p class="body1">"All integers are even numbers." - This is false.</p>
	<p class="body">Is this a proposition?</p>
	<p class="body1">"This statement is false." - If this statement is true, it would be a contradiction. If this statement is false, it would also be a contradiction. Since this can be neither true nor false, it is not a proposition. This is known as the <b>liar paradox</b>.</p>
	<p class="body">We can represent propositions by using <b>logical variables</b>.<br>For example:</p>
	<p class="body1">p = "A New York City subway fare is $2.25."<br>q = "It will rain by the end of the day."<br>r = "All even numbers are integers."</p>
</body>
</html>