<!DOCTYPE html>
<html>
<head>
	<title>Practice Problems</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="../javascript/app.js"></script>
	<link rel="stylesheet" type="text/css" href="../style/practice.css">
</head>
<body>
	<nav>
		<p><a href="../index.html">Propositional Logic</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="#">Introduction</a>
				<ul>
					<li><a href="logic.html">What is Propositional Logic?</a></li>
					<li><a href="operations.html">Logical Operations</a></li>
					<li><a href="forms.html">Propositional Forms</a></li>
					<li><a href="tables.html">Truth Tables</a></li>
					<li><a href="equivalence.html">Propositional Equivalence</a></li>
					<li><a href="circuit.html">Logic Circuits</a></li>
				</ul>
			</li>
			<li><a href="#">Other</a>
				<ul>
					<li><a href="practice.html">Practice Problems</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<h1>Practice Problems</h1>
	<p class="body">1. Consider the following statement:</p>
	<center><p class="body1"><i>q</i> &and; <i>r</i> &and; <i>p'</i></p></center>
	<p class="body">What would the truth-table for this statement be?</p> <button type="button" id="button1">Click to show/hide answer</button><br>
	<div id="question1"></div>
	<p class="body">2. Consider the following statement:</p>
	<center><p class="body1"><i>p</i> &or; <i>q'</i> &or; <i>r'</i></p></center>
	<p class="body">What would the truth-table for this statement be?</p> <button type="button" id="button2">Click to show/hide answer</button><br>
	<div id="question2"></div>
	<p class="body">3. Consider the following statement:</p>
	<center><p class="body1"><i>r'</i> &rArr; (<i>q</i> &and; <i>p'</i>)</p></center>
	<p class="body">What would the truth-table for this statement be?</p> <button type="button" id="button3">Click to show/hide answer</button><br>
	<div id="question3"></div>
	<p class="body">4. Consider the following statement:</p>
	<center><p class="body1">(<i>q</i> &or; <i>p'</i>) &rArr; <i>r'</i></p></center>
	<p class="body">What would the truth-table for this statement be?</p> <button type="button" id="button4">Click to show/hide answer</button><br>
	<div id="question4"></div>
</body>
</html>