<!DOCTYPE html>

<html>
<head>

	<title>References</title>
	<link rel="stylesheet" type="text/css" href="../style/references.css">
</head>
<body>
	<nav>
		<p><a href="../index.html">Propositional Logic</a></p>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="#">Introduction</a>
				<ul>
					<li><a href="logic.html">What is Propositional Logic?</a></li>
					<li><a href="operations.html">Logical Operations</a></li>
					<li><a href="forms.html">Propositional Forms</a></li>
					<li><a href="tables.html">Truth Tables</a></li>
					<li><a href="equivalence.html">Propositional Equivalence</a></li>
					<li><a href="circuit.html">Logic Circuits</a></li>
					<li><a href="graph.html">Logical Graphs</a></li>
				</ul>
			</li>
			<li><a href="#">Other</a>
				<ul>
					<li><a href="practice.html">Practice Problems</a></li>
					<li><a href="references.html">References</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<h1>References</h1>
	<p class="body">Information on this website was taken from the following sources: </p>
	<p class="body1"><a href="https://medium.com/i-math/intro-to-truth-tables-boolean-algebra-73b331dd9b94" target="_blank">Intro to Truth Tables</a></p>
	<p class="body1"><a href="https://brilliant.org/wiki/truth-tables/" target="_blank">Brilliant.org On Truth Tables</a></p>
	<p class="body1"><a href="https://www.dummies.com/education/psychology/logic-for-dummies-cheat-sheet/" target="_blank">Logic for Dummies Cheat Sheet</a></p>
	<p class="body1"><a href="https://www.explainthatstuff.com/logicgates.html" target="_blank">How Do Logic Gates Work?</a></p>
	<p class="body1"><a href="http://www.ee.surrey.ac.uk/Projects/Labview/gatesfunc/QuizFrameSet.htm" target="_blank">Logic Gates Interactive Quiz</a></p>
	<p class="body1"><a href="http://www.ee.surrey.ac.uk/Projects/CAL/digital-logic/gatesfunc/" target="_blank">Basic Gates and Functions Review</a></p>
	<p class="body1"><a href="http://homepages.inf.ed.ac.uk/ldixon/papers/dixon-camcad-09.pdf" target="_blank">Basic Elements of Logical Graphs</a></p>
	<p class="body">If you would like to learn more about logic and truth tables, please visit any of the resources above.</p>
</body>
</html>