* {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial;
	background-color: lightgrey;
	margin-bottom: 5%;
}

nav {
	width: 100%;
	height: 60px;
	background-color: white;
}

nav p {
	color: black;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding: 0px 20px;
	margin-left: 10px;
	font-weight: bold;
}

nav p a {
	text-decoration: none;
}

nav p:hover {
	text-decoration: none;
	background: lightgrey;
}

nav p a:visited {
	text-decoration: none;
	color: inherit;
}

nav ul {
	float: right;
	margin-right: 150px;
}

nav ul li {
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a {
	color: black;
	font-size: 18px;
	padding: 24px 14px;
	display: block;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: white; 
	padding: 10px;
	border-radius: 0 0 4px 4px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}

nav ul li ul li a {
	padding: 8px 14px;
}

nav ul li ul li a:hover {
	background-color: lightgrey;
}

h1 {
	text-align: center;
	font-size: 48px;
	margin-top: 1%;
}

.body {
	font-size: 30px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}

.body1 {
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}

table {
	display: inline-table;
	margin-top: 1%;
	border-collapse: collapse;
	font-size: 20px;
	width: 200px;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
}

img {
	margin-top: 1%;
}
 
